<!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

  <!-- Start header section -->


  <%= render "header" %>

  <!-- menu -->
  <%= render "menu" %>
  
  <!-- Products section -->
  <%= render partial: "products" %>
  
  <!-- banner section -->
  <!--%= render "banner" %-->
  
  <!-- popular section -->
  <!-- %= render "popular" %-->
  
  <!-- Support section -->
  <!--%= render "support" %-->
  
  <!-- Testimonial -->
  <!--%= render "testimonial" %-->


  <!-- Subscribe section -->
  <!--%= render "subscribe" %-->


  <!-- footer -->  
  <%= render "footer" %>

  <!-- Login Modal -->  
  <%= render "loginModal" %>
  