<script type="text/javascript">

// function popView() {
//     window.open('/prince.pdf','CLIENT_WINDOW','resizable=yes scrollbars=yes width=800 height=700');
// }

// ajax


// function Frameset(page) { 
// framecode = "<frameset rows='1*'>" 
// + "<frame name=main src='" + page + "'>" 
// + "</frameset>"; 

// document.write(framecode); 
// document.close(); 
// }   







function popView() {
    <%#= Rails.root.join('app', 'assets', "#{@book.content}") %><%#=@book.content%>
    var frmObj = document.frmPopup;
    // var url = '<#%= asset_path("#{@book.content}") %>';
    var url = "<%=@book.content%>";
    
    window.open(url,'CLIENT_WINDOW',' directories=no, resizable=yes, scrollbars=no, width=800, height=700, titlebar=no, toolbar=no, location=no, status=no, menubar=no');
    // app.launchURL("javascript:window.open('http://www.example.com/mydoc.doc')",true); 
    
    // frmPop.action = url;
    // frmPop.target = 'CLIENT_WINDOW';
    // frmPop.arg1.value = '<#%=SecureRandom.hex(8)%>';
    // frmPop.submit();
    
}


</script>

  <!-- Start header section -->
  <%= render "/home/header" %>


  <%= render "/home/menu" %>

  <!-- detail product -->
  <%= render "detailproduct" %>
  
  <!-- footer -->  
  <%#= render "home/footer" %>
  <section id="aa-support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-support-area">
            <!-- single support -->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="aa-support-single">
                 <span class="fa fa-eye"></span>
              
              <center>   <h4>이 책을 담은 고객이 관심을 보인 책</h4> </center>
              <br><br>
                <% @result.sample(3).each do |book| %>
                  <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
                    <!--<div class="aa-support-single">-->
                  <li>
                    <figure>
                      <a class="aa-product-img" href="/mybook/detail/<%= book.id %>"><img src="<%= book.cover %>" width="172px" height="260px"></a>
                      <br>
                        <figcaption>
                        <h5 class="aa-product-title"><a href="/mybook/detail/<%= book.id %>"  style="color:white"><%= book.name %></a></h5>
                      <br><br>
                      </figcaption>
                    </figure>
                  </li>
                  </center>
                    <!--</div>-->
                  <!--</div>-->
                <% end %>
              </div>
            </div>
            
            
            <!-- single support -->
            <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
            <!--  <div class="aa-support-single">-->
            <!--    <span class="fa fa-lightbulb-o"></span>-->
            <!--    <h4>어두운 밤에는 은은하게</h4>-->
            <!--    <P>독서등이 종이책을 비추듯 정면에서 화면을 밝혀줍니다. 어두운 밤에도 오랫동안 최고의 가독성을 경험할 수 있습니다.</P>-->
            <!--  </div>-->
            <!--</div>-->
            <!-- single support -->
            <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
            <!--  <div class="aa-support-single">-->
            <!--    <span class="fa fa-file-text-o"></span>-->
            <!--    <h4>페이지 넘김 버튼</h4>-->
            <!--    <P>페이지 화면 양쪽에 위치한 버튼을 이용하여 더욱 쉽게 페이지를 넘길 수 있습니다.</P>-->
            <!--  </div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Support section -->
 
<!-- footer -->  
  <footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
     <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-top-area">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <h3>메인메뉴</h3>
                  <ul class="aa-footer-nav">
                    <li><a href="#">월간베스트 셀러</a></li>
                    <li><a href="#">스테디 셀러</a></li>
                    <li><a href="#">분야별 TOP 100</a></li>

                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>분야별 TOP 100</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">소설/시/에세이</a></li>
                      <li><a href="#">자기계발</a></li>
                      <li><a href="#">인문/역사</a></li>
                      <li><a href="#">예술/종교</a></li>
                      <li><a href="#">컴퓨터IT</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <a href="mybook/bought"><h3>마이북스</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">최근 본책</a></li>
                      <li><a href="#">찜한책</a></li>
                      <li><a href="#">형광펜</a></li>
                      <li><a href="#">나만의 명언</a></li>
                    </ul>
                  </div>
                </div>
              </div>
                            <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>회원정보</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">회원가입</a></li>
                      <li><a href="#">회원정보 변경</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-bottom-area">
            <p>Designed by <a href="#">JUSTBOOKS</a></p>
            <div class="aa-footer-payment">
              <span class="fa fa-cc-mastercard"></span>
              <span class="fa fa-cc-visa"></span>
              <span class="fa fa-paypal"></span>
              <span class="fa fa-cc-discover"></span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  
  <!-- Login Modal -->  
  <%= render "home/loginModal" %>

  <!-- jQuery library -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!--<script src="js/bootstrap.js"></script>  -->
  <!-- SmartMenus jQuery plugin -->
  <!--<script type="text/javascript" src="js/jquery.smartmenus.js"></script>-->
  <!-- SmartMenus jQuery Bootstrap Addon -->
  <!--<script type="text/javascript" src="js/jquery.smartmenus.bootstrap.js"></script>  -->
  <!-- Product view slider -->
  <!--<script type="text/javascript" src="js/jquery.simpleGallery.js"></script>-->
  <!--<script type="text/javascript" src="js/jquery.simpleLens.js"></script>-->
  <!-- slick slider -->
  <!--<script type="text/javascript" src="js/slick.js"></script>-->
  <!-- Price picker slider -->
  <!--<script type="text/javascript" src="js/nouislider.js"></script>-->
  
  <!-- Custom js -->
  <!--<script src="js/custom.js"></script> -->
